<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>SAM - Mental Manager</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="static/style.css" />
<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
  <body>

    <nav class="navbar"> 
      <div class="container">         
        <ul class="listitems">
          <li><a href="">Home</a></li> 
          <li><a href="chatbot">Wellness Wingman</a></li> 
          <li><a href="zenden">Zen Den</a></li> 
          <li><a href="selfcare">Self Care</a></li>
        </ul> 
      </div> 
     </nav> 
    <center>
      <h1>
        Hi! Im SAM - Your Stress, Anxiety, and Mediation Manager!
      </h1>
    </center>
      <div id="text"></div>
  

      <div class="rectangle-box">
        <div class="left">
          <img src="static/SAMbot.jpg" alt="Image" style="width: 20%; height: auto;">
        </div>
        <div class="right">
          <h2>
             <p style="color: white;">Did you know that SAM, your wellness wingman, face was created using artificial intelligence? SAM is a chatbot designed to help teens deal with mental health issues. With SAM, you can vent, ask for advice, or seek help whenever you need it. SAM is like having your own personal therapist, available 24/7 to listen and provide support. The convenience and accessibility of SAM can be especially helpful for teens who may feel uncomfortable or stigmatized about seeking mental health services in person. By utilizing SAM, teens can receive the help they need in a safe and non-judgmental environment.</p>
            <form action="/chatbot" method ="get">
              <button type="submit" class="rounded-button">CHAT BOT!     
              </button>
            </form>
          </h2>
         
        </div>
        
      </div>

<!-------------BRUHHHHHHH--->

      <div class="rectangle-box">
        <div class="left">
          <img src="static/zenden.jpg" alt="Image" style="width: 20%; height: auto;">
        </div>
        <div class="right">
          <h2>
            <p style="color: white;">Enter The Zen Den, a digital sanctuary where you can find peace and tranquility in the midst of your hectic life. Here, you can disconnect from the chaos of the world and connect with your inner self through meditation, deep breathing, and soothing music. Our guided meditations are designed to help you relax, reduce stress, and improve your mental and emotional well-being. So come, take a deep breath, and let the Zen Den be your haven in the storm.
            </p>
        </p>
            <form action="/zenden" method ="get">
              
              <button type="submit" class="rounded-button">ZEN DEN!     
              </button>
            </form>
          </h2>

          
        </div>
        
      </div>
   

      <div class="rectangle-box">
        <div class="left">
          <img src="static/selfcare.jpg" alt="Image" style="width: 20%; height: auto;">
        </div>
        <div class="right">
          <h2>
            <p style="color: white;">We planned to use machine learning to analyze a user's mood based on their handwritten input. By identifying patterns in the handwriting, a model could predict the user's emotional state and suggest coping mechanisms tailored to their needs. This approach could provide a personalized and efficient way for individuals to practice self-care, even when they are short on time.

. </p>
            <form action="/selfcare" method ="get">
              
              <button type="submit" class="rounded-button">SELFCARE+!     
              </button>
            </form>
          </h2>

          
        </div>
        
      </div>

    
    
    <div class="website-box">
      <h2>Made By:</h2>
      <ul>
        <li><a href="https://www.linkedin.com/in/tejas-chakrapani-8a2a0024b/">Tejas Chakrapani</a></li>
      </ul>
    </div>

  </body>
</html>


<div class="center">
 <h1>
   
   </h1>
</div>